apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: {{ .Values.global.namespace }}
  labels:
    app: django-app
spec:
  replicas: {{ .Values.django.replicas }}
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "{{ .Values.vault.role }}"
        vault.hashicorp.com/agent-inject-status: "update"
        
        vault.hashicorp.com/agent-inject-secret-django-config: "secret/data/django-app/django"
        vault.hashicorp.com/agent-inject-template-django-config: |
          {{`{{- with secret "secret/data/django-app/django" -}}
          export SECRET_KEY='{{ .Data.data.secret_key }}'
          export DEBUG='{{ .Data.data.debug }}'
          {{- end -}}`}}
        
        vault.hashicorp.com/agent-inject-secret-postgres-config: "secret/data/django-app/postgres"
        vault.hashicorp.com/agent-inject-template-postgres-config: |
          {{`{{- with secret "secret/data/django-app/postgres" -}}
          export DB_NAME='{{ .Data.data.database }}'
          export DB_USER='{{ .Data.data.username }}'
          export DB_PASSWORD='{{ .Data.data.password }}'
          {{- end -}}`}}
    spec:
      serviceAccountName: django-app-sa
      containers:
      - name: django-app
        image: {{ .Values.django.image.repository }}:{{ .Values.django.image.tag }}
        imagePullPolicy: {{ .Values.django.image.pullPolicy }}
        ports:
        - containerPort: 8000
        env:
        - name: ALLOWED_HOSTS
          value: {{ .Values.django.allowed_hosts | quote }}
        - name: DB_HOST
          value: "postgresql"
        - name: DB_PORT
          value: "5432"
        command: ["/bin/sh"]
        args:
          - -c
          - |
            # Ждем секреты от Vault
            echo "Waiting for Vault secrets..."
            while [ ! -f /vault/secrets/django-config ] || [ ! -f /vault/secrets/postgres-config ]; do
              echo "Secrets files not found, waiting..."
              sleep 2
            done
            
            # Загружаем секреты - они экспортируются в environment благодаря export в шаблоне
            . /vault/secrets/django-config
            . /vault/secrets/postgres-config
            
            # Проверяем переменные
            echo "=== Environment Variables ==="
            echo "DB_NAME: $DB_NAME"
            echo "DB_USER: $DB_USER"
            echo "DB_PASSWORD: $DB_PASSWORD"
            echo "SECRET_KEY: $SECRET_KEY"
            echo "DEBUG: $DEBUG"
            
            # Запускаем Django
            python manage.py runserver 0.0.0.0:8000
        resources:
          {{- toYaml .Values.django.resources | nindent 12 }}
